<footer class="footer" [ngStyle]="estilos">
    <div class="container centrar">
        <span>Web Application design by jEstevezRod </span>
        <div><a href="https://github.com/jEstevezRod"><img class="img1" id="img1"
                                                           src="../../assets/imgs/github-logo-negro.png" alt=""></a>
            <a href="https://www.linkedin.com/in/jesus-estevez-rodriguez"><img id="img2"
                                                                               src="../../assets/imgs/linkedin-negro.png"
                                                                               alt=""></a></div>
        <div>Copyright @ todos los derechos reservados</div>
    </div>
</footer>
